$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fdf6ee;
$font-color: #000;
$white: #fff;
$container-color: #fadad7;
$content-color: #000;
$container-width: 600px;
$box-width: $container-width / 3;
$box-height: $container-width / 3;
$button-margins: 20px;

body {
  background-color: $background-color;
  color: $font-color;
}

.win {
  font-family: Helvetica;
  text-align: center;
}

.create-game,
.get-game {
  display: block;
  margin: $button-margins;
}

.get-game {
  display: block;
}

.game-buttons {
  float: right;
}

.container {
  background-color: $container-color;
  position: center;
  width: $container-width;
}

.box {
  border: 5px solid $content-color;
  font-size: 140px;
  height: $box-height;
  position: relative;
  text-align: center;
  width: $box-width;
}
