$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fdf6ee;
$font-color: #fff;
$white: #fff;
$container-color: #fadad7;
$content-color: #000;
$container-width: 600px;
$box-width: $container-width / 3;


body {
  background-color: $background-color;
  color: $font-color;
}

.container {
  background-color: $container-color;
  position: center;
  width: $container-width;

}

.box {
  border: 5px solid $content-color;
  height: $box-width;
  width: $box-width;
  position: relative;
  font-size: 140px;
}

//.box::before {
  //content: '';
  //display: block;
//  padding-top: 100%;
//}
